:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.home-content {
  margin: 160px auto 60px;
  max-width: 1000px;
}

.page-title {
  margin-top: 100px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link,
.project-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.project-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.projects-brief p,
.projects-brief a,
.projects-brief h2 {
  text-align: left;
}

.projects-brief p {
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.5;
}

.about-intro {
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
    opacity: 0.7;
  }

  .projects-brief p,
  .about-intro {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }
}
